div#fh5co-resume.fh5co-bg-color
    div.container
      div.row.animate-box
        div.col-md-8.col-md-offset-2.text-center.fh5co-heading
          h2 My Resume
      div.row
        div.col-md-12.col-md-offset-0
          ul.timeline
            li.timeline-heading.text-center.animate-box
              div
                h3 Work Experience
            li.animate-box.timeline-unverted
              div.timeline-badge
                i.icon-suitcase
              div.timeline-panel
                div.timeline-heading
                  h3.timeline-title Business Planning, and...
                  span.company Personal Projects [01/2023 - Now]
                div.timeline-body
                  p I focused on developing and shaping several of my business ideas, while also initiating research and testing for one of my upcoming products.
                  p
                    | In addition, I performed some tasks related to Software Development, which included automating video editing and extracting shorts from edited videos for my
                    | YouTube channel. I also explored the automation of video uploads using the YouTube API and created scripts for extracting daily gaming news from the internet.
            li.timeline-inverted.animate-box
              div.timeline-badge
                i.icon-suitcase
              div.timeline-panel
                div.timeline-heading
                  h3.timeline-title Software Developer
                  span.company SISU Technologies [03/2017 - 12/2022]
                div.timeline-body
                  p
                    | I have been part of numerous Software Projects, contributing throughout the entire Software Life Cycle. My career has
                    | seen me transition from an initial role as a Developer to taking on Project Management responsibilities and leading
                    | other Developers.
                  p
                    | My key responsibilities include:
                    ul
                      li
                        | Developing projects with multiple software components, usually internal web-based systems with corresponding user web apps.
                        | Some also involved native or cross-platform mobile apps.
                      li Handling &quot;mini projects&quot; such as reviving apps, restoring back-ends, and adding new modules to legacy projects.
                      li
                        | Managing projects, from initial planning, tech assessment, task management, and tracking progress. This
                        | involves client meetings for new requirements, scope adjustments, and facilitating decisions.
                      li Providing suggestions for project enhancements and establishing technical guidelines.
            li.animate-box.timeline-unverted
              div.timeline-badge
                i.icon-suitcase
              div.timeline-panel
                div.timeline-heading
                  h3.timeline-title Software Developer
                  span.company Personal Projects [06/2016 - 03/2017]
                div.timeline-body
                  p
                    | After completing my degree, I embarked on the first stage of my personal projects. I created a command-line Nickname Generator
                    | with friendly pronunciation in Spanish and English. This tool populates a database with nicknames and checks their availability
                    | on social networks. Then I exposed the collected data via a REST API. Additionally, I developed a Web App for consuming,
                    | querying, filtering, and sorting the collected data. I also acquired the domain name eyvot.com.
            li.timeline-heading.text-center.animate-box
              div
                h3 Education
            li.animate-box.timeline-inverted
              div.timeline-badge
                i.icon-graduation-cap
              div.timeline-panel
                div.timeline-heading
                  h3.timeline-title Computer Systems Engineer
                  span.company ITLP [2011 - 2016]
                div.timeline-body
                  p
                    | I pursued a Bachelor&apos;s degree in Computer Systems Engineering (Computer Science equivalent). During my academic journey,
                    | I excelled in mathematics and programming courses, demonstrating a strong aptitude for problem solving and abstract thinking.
