div#fh5co-blog
    div.overlay
    div.container
      div.row.animate-box
        div.col-md-8.col-md-offset-2.text-center.fh5co-heading
          h2 Let&apos;s Get In Touch!
          p
            | That&apos;s it for my little corner on the web! If my profile piqued your interest or if you&apos;re looking to connect,
            | I&apos;m always open to new connections. Feel free to reach out to me through my social media channels. If my current
            | schedule permits, I&apos;m here to discover exciting possibilities and new connections. It&apos;s always a pleasure
            | to meet new people.
