div#fh5co-work.fh5co-bg-color
    div.container
      div.row.animate-box
        div.col-md-8.col-md-offset-2.text-center.fh5co-heading
          h2.a-bit-more A Bit More Of Me
      div.row
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/CjeZ2vOOYOx/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-01.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption My Previous Setup
              span.emoji 👨‍💻
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BWTxBhWlhKU/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-02.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption My Brother Edgar
              span.emoji 💪
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BWUPvzFFgk4/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-03.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption My Friend Alberto
              span.emoji 🧐
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BUx2bwgj9eV/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-04.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption My Sister Yuli
              span.emoji 💁‍♀️
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/B1UuvltjK0w/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-05.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption Octocat
              span.emoji 🐙
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BZ6v_1JFMFe/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-06.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption Real Cats
              span.emoji 😼
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BlL7GO5FL-U/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-07.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption Rubber Duck Debugging, But It&apos;s Tyrion
              span.emoji 🔨
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BhmX7qcli-1/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-08.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption Just Social Posing
              span.emoji 🙄
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/Bn1HqcxFPVl/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-09.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption Matcha
              span.emoji 🍃
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BiPmVedFvUD/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-10.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption Somewhere In CDMX
              span.emoji 🏢
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BjlDX85lXwj/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-11.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption Yes, Mexicans Add Spice To Everything
              span.emoji 🌶️
        div.col-md-3.text-center.col-padding.animate-box
          a(href='https://www.instagram.com/p/BXzDg8iFDLy/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==', style='background-image: url(./../images/photo-12.jpeg);', target='_blank').work
            div.desc
              h3.photo-caption Java
              span.emoji 🫶
