header#fh5co-header.fh5co-cover.js-fullheight(
      style='background-image:url(./../images/background-01.jpg);',
      data-stellar-background-ratio='0.5',
      role='banner')
    div.overlay
    div.container
      div.row
        div.col-md-8.col-md-offset-2.text-center
          div.display-t.js-fullheight
            div(data-animate-effect='fadeIn').display-tc.js-fullheight.animate-box
              div(style='background: url(images/profile-picture.jpg);').profile-thumb
              h1
                span.nickname eyvot
              h3
                span.text-profile-title Software Developer
              div
                span.text-profile-skill Software Development
                span.text-profile-skill Project Management
                span.text-profile-skill Software Design
                span.text-profile-skill Problem Solving
                span.text-profile-skill Client Communication
              p
                ul.fh5co-social-icons
                  li
                    a(href='https://twitter.com/eyvot', target='_blank')
                      i.icon-twitter2.profile-skill
                  li
                    a(href='https://linkedin.com/in/eyvot', target='_blank')
                      i.icon-linkedin2.profile-skill
                  li
                    a(href='https://youtube.com/@eyvot', target='_blank')
                      i.icon-youtube2.profile-skill
                  li
                    a(href='https://instagram.com/eyvot', target='_blank')
                      i.icon-instagram2.profile-skill
