header#fh5co-header.fh5co-cover.js-fullheight(role='banner')
    div.overlay: div.container: div.row: div.col-md-8.col-md-offset-2.text-center
      div.display-t.js-fullheight: div(data-animate-effect='fadeIn').display-tc.js-fullheight.animate-box
        div(style='background: url(images/profile-picture.webp);').profile-thumb
        h1
          span.nickname eyvot
        h2
          span.text-profile-title: strong Software Developer
        p
          div
            span.text-profile-skill Software Development
            span.text-profile-skill Project Management
            span.text-profile-skill System Design
            span.text-profile-skill Problem Solving
            span.text-profile-skill Client Communication
        ul.fh5co-social-icons
          li: a(href='https://linkedin.com/in/eyvot', target='_blank', aria-label="LinkedIn"): i.icon-linkedin2.profile-skill
          li: a(href='https://github.com/eyvotCodes', target='_blank', aria-label="GitHub"): i.icon-github.profile-skill
          li: a(href='https://instagram.com/eyvot', target='_blank', aria-label="Instagram"): i.icon-instagram.profile-skill
          li: a(href='https://youtube.com/@eyvot', target='_blank', aria-label="YouTube"): i.icon-youtube.profile-skill
        p
          div
            a.text-profile-skill.blog-link(href='https://blog.eyvot.com', target='_blank'): strong Visit My Blog
        span.scroll-indicator
