div#fh5co-about.animate-box
    div.container
      div.row
        div.col-md-8.col-md-offset-2.text-center.fh5co-heading
          h2 About Me
      div.row
        div.col-md-4
          ul.info
            li
              span.first-block Full Name:
              span.second-block Fabián Leyva
            li
              span.first-block Nationality:
              span.second-block Mexican
            li
              span.first-block Degree:
              span.second-block Computer Systems Engineer (CS equivalent)
            li
              span.first-block Interests:
              span.second-block Software development, learn new things, video games, coffee, fragrances...
            li
              span.first-block Contact:
              span.second-block Send me an email to contact@eyvot.com
        div.col-md-8
          h2 Hello There!
          p
            | I am a Software Developer with extensive experience in the tech industry. Over the years, I&apos;ve successfully developed
            | and managed projects of varying scales and complexity.
          p
            | In a more personal way, I enjoy a variety of hobbies in my leisure time, each offering a unique experience. From developing
            | personal projects to constantly seeking new knowledge, from exciting social outings to the world of digital entertainment.
            | I share my gaming experiences on my
            a(href='https://youtube.com/@eyvotGames', target='_blank')  👾 Gaming YouTube Channel @
              ins eyvotGames
            | 
            | (even
            | if i don&apos;t play very often), so if you&apos;d like to join me on these virtual adventures, I invite you to visit my channel!
          p
            ul.fh5co-social-icons
              li: a(href='https://youtube.com/@eyvotGames', target='_blank'): i.icon-youtube
              li: a(href='https://tiktok.com/@eyvotGames', target='_blank'): i.icon-tiktok
              li: a(href='https://instagram.com/eyvotGames', target='_blank'): i.icon-instagram
              li: a(href='https://facebook.com/eyvotGames', target='_blank'): i.icon-facebook
