div.fh5co-loader
div#page
  include ./_profile.pug
  include ./_resume.pug
  include ./_experience.pug
  include ./_photos
  include ./_get-in-touch.pug
  include ./_footer.pug
  script(src='js/bundle.js')
